<div class="register-container">
  <div class="register-card">
    <div class="header-text">
      <h2>Crear Cuenta</h2>
      <p>Comedor Universitario BUAP</p>
    </div>

    <!-- PESTAÑAS -->
    <div class="tabs-container">
      <button type="button" class="tab-btn" [class.active]="tipoRegistro === 'alumno'" (click)="tipoRegistro = 'alumno'">
         Alumno
      </button>
      <button type="button" class="tab-btn" [class.active]="tipoRegistro === 'operador'" (click)="tipoRegistro = 'operador'">
         Personal
      </button>
    </div>

    <!-- FORMULARIO ALUMNO                           -->
    <form *ngIf="tipoRegistro === 'alumno'" [formGroup]="registerForm" (ngSubmit)="onSubmitAlumno()">
      
      <div class="input-group">
        <label>Nombre(s)</label>
        <input type="text" formControlName="nombre" (input)="soloLetras($event, 'nombre')">
        <div class="error" *ngIf="registerForm.get('nombre')?.touched && registerForm.get('nombre')?.invalid">Campo requerido.</div>
      </div>

      <div class="input-group">
        <label>Apellidos</label>
        <input type="text" formControlName="apellidos" (input)="soloLetras($event, 'apellidos')">
      </div>

      <div class="input-group">
        <label>Matrícula</label>
        <input type="text" formControlName="matricula" (input)="soloNumeros($event, 'matricula')" maxlength="9" placeholder="Ej. 202294250">
      </div>

      <div class="input-group">
        <label>CURP</label>
        <input type="text" formControlName="curp" (input)="soloLetrasYNumeros($event, 'curp')" maxlength="18" placeholder="Ingresa tu CURP">
      </div>

      <div class="input-group">
        <label>Fecha de Nacimiento</label>
        <input type="date" formControlName="fecha_nacimiento" [max]="fechaMaxima">
      </div>

      <div class="input-group">
        <label>Facultad</label>
        <select formControlName="facultad_id" (change)="onFacultadChange($event)">
          <option value="">-- Selecciona tu Facultad --</option>
          <option *ngFor="let fac of facultades" [value]="fac.id">{{ fac.nombre }}</option>
        </select>
      </div>

      <div class="input-group">
        <label>Carrera</label>
        <select formControlName="carrera_id">
          <option value="">-- Selecciona tu Carrera --</option>
          <option *ngFor="let car of carrerasDisponibles" [value]="car.id">{{ car.nombre }}</option>
        </select>
      </div>

      <div class="input-group">
        <label>Correo Institucional</label>
        <input type="email" formControlName="email" placeholder="ejemplo@alumno.buap.mx">
        <div class="error" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">Debe ser @alumno.buap.mx</div>
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <input type="password" formControlName="password" placeholder="Mínimo 8 caracteres">
      </div>

      <button type="submit">Registrarme como Alumno</button>
    </form>


    <!-- FORMULARIO OPERADOR                         -->
    <form *ngIf="tipoRegistro === 'operador'" [formGroup]="operadorForm" (ngSubmit)="onSubmitOperador()">
      
      <div class="codigo-group">
        <label>Código de Invitación</label>
        <input type="text" formControlName="codigo_invitacion" (input)="soloLetrasYNumeros($event, 'codigo_invitacion', true)">
        <small>Otorgado por el administrador del comedor.</small>
        
        <div class="error" *ngIf="operadorForm.get('codigo_invitacion')?.touched && operadorForm.get('codigo_invitacion')?.hasError('required')">
          El código es obligatorio.
        </div>
        
        <div class="error" *ngIf="mensajeErrorOperador" style="font-weight: bold;">
           {{ mensajeErrorOperador }}
        </div>
      </div>

      <div class="input-group">
        <label>Nombre(s)</label>
        <input type="text" formControlName="nombre" (input)="soloLetras($event, 'nombre', true)">
        <div class="error" *ngIf="operadorForm.get('nombre')?.touched && operadorForm.get('nombre')?.hasError('required')">El nombre es obligatorio.</div>
      </div>

      <div class="input-group">
        <label>Apellidos</label>
        <input type="text" formControlName="apellidos" (input)="soloLetras($event, 'apellidos', true)">
        <div class="error" *ngIf="operadorForm.get('apellidos')?.touched && operadorForm.get('apellidos')?.hasError('required')">Los apellidos son obligatorios.</div>
      </div>

      <div class="input-group">
        <label>Correo Electrónico</label>
        <input type="email" formControlName="email" placeholder="tucorreo@ejemplo.com">
        <div class="error" *ngIf="operadorForm.get('email')?.touched && operadorForm.get('email')?.hasError('required')">El correo es obligatorio.</div>
        <div class="error" *ngIf="operadorForm.get('email')?.touched && operadorForm.get('email')?.hasError('email')">Ingresa un formato de correo válido.</div>
      </div>

      <div class="input-group">
        <label>Contraseña Segura</label>
        <input type="password" formControlName="password" placeholder="Mínimo 8 caracteres">
        <div class="error" *ngIf="operadorForm.get('password')?.touched && operadorForm.get('password')?.hasError('required')">La contraseña es obligatoria.</div>
        <div class="error" *ngIf="operadorForm.get('password')?.touched && operadorForm.get('password')?.hasError('minlength')">La contraseña debe tener al menos 8 caracteres.</div>
      </div>

      <button type="submit">Validar Código y Crear Cuenta</button>
    </form>

    <div class="login-prompt">
      <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>
    </div>
  </div>
</div>